    <footer>
        <div class="footer-container">
            <div class="footer-content">
                <h4>dirEngine</h4>
                <div class="footer-content-inner">
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                        live
                        the blind texts.</p>
                    <div class="social-icon">
                        <div class="icons-footer">
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                        <div class="icons-footer">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                        <div class="icons-footer">
                            <i class="fa-brands fa-facebook-f"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content">
                <h4>Information</h4>
                <div class="footer-content-inner">
                <a href="/about">About</a>
                <a href="#">Service</a>
                <a href="#">Terms and Conditions</a>
                <a href="#">Become a partner</a>
                <a href="#">Best Price Guarantee</a>
                <a href="#">Privacy and Policy</a>
                </div>
            </div>
            <div class=" footer-content">
                <h4>Customer Support</h4>
                <div class="footer-content-inner">

                    <a href="/about">FAQ</a>
                    <a href="#">Payment Option</a>
                    <a href="#">Booking Tips</a>
                    <a href="#">How it works</a>
                    <a href="/contact">Contact Us</a>
                </div>
            </div>
            <div class=" footer-content">
                <h4>Have a Questions?</h4>
                <div class="footer-content-inner">
                    <div class="address">
                        <i class="fa-solid fa-location-dot"></i>
                        <h2>203 Fake St. Mountain View, San Francisco, California, USA</h2>
                    </div>
                    <div class="address">
                        <i class="fa-solid fa-phone"></i>
                        <h2 style="color: white;">0123456789</h2>
                    </div>
                    <div class="address">
                        <i class="fa-solid fa-at"></i>
                        <h2 style="color: white;">info@example.com</h2>
                    </div>
                </div>
            </div>

        </div>
        <h1>Copyright ©2022 All rights reserved | Omkar Paygude</h1>
    </footer>
