<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="shortcut icon" href="../img/logos/favicon.png" type="image/x-icon">
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <title>DirEngine</title>
</head>

<body>
    {{>header}}
    {{!-- ----------------------------------------------- --}}

    <div style="display:grid; place-item:center; background: linear-gradient(rgb(0 0 0 / 3%), rgb(0 0 0 / 3%)), url(../img/bg-5.jpg) no-repeat center center/cover;"
        class="first-container">
        <div data-aos="fade-up" style="text-align: center;" class="second-container">
            <span>
                <a style="color:white;" href="/">Home</a>
                <a style="color:rgb(187 187 187);" href="/blog">Blog</a>
            </span>
            <h1 style="text-align: center; margin: 0;">Tips & Articles</h1>
        </div>
    </div>

    {{!-- ----------------------------------------------- --}}

    <div style="background: #f7fcff; min-height:65rem;" class="container fifth-container">
        <div data-aos="fade-up" style="justify-content: space-evenly; margin-top: 7rem;" class="fifth-bottom">
            <div style="height: 60rem; width: 30rem;" class="fifth-card">
                <div class="img">
                    <a href="#"><img src="../img/inBlogs/img-3.webp" alt=".."></a>
                </div>
                <div class="content" style="margin-top: 2rem;">
                    <h1 class="blog-title">
                        Tips & Travels</h1>
                    <br>
                    <a href="#" class="blog-para ">8 Best homestay in
                        Philippines that you don't miss out</p>
                </div>
                <h1
                    style="color: #cbcbcb; font-size: 1.6rem; font-weight: 300; padding: 2rem 0rem 0rem 4rem; margin-bottom: 1rem;">
                    August 12, 2018 Admin <br><i class="fa-solid fa-comment-dots"></i> 3</h1>
            </div>
            <div style="height: 60rem; width: 30rem;" class="fifth-card">
                <div class="img">
                    <a href="#"><img src="../img/inBlogs/img-2.webp" alt=".."></a>
                </div>
                <div class="content" style="margin-top: 2rem;">
                    <h1 class="blog-title">
                        Cultrual</h1>
                    <br>
                    <a href="#" class="blog-para">Even the all-powerful
                        Pointing has no control about the blind texts</a>
                </div>
                <h1
                    style="color: #cbcbcb; font-size: 1.6rem; font-weight: 300; padding: 2rem 0rem 0rem 4rem; margin-bottom: 1rem;">
                    August 12, 2018 Admin <br><i class="fa-solid fa-comment-dots"></i> 3</h1>
            </div>
            <div style="height: 60rem; width: 30rem;" class="fifth-card">
                <div class="img">
                    <a href="#"><img src="../img/inBlogs/img-1.webp" alt=".."></a>
                </div>
                <div class="content" style="margin-top: 2rem;">
                    <h1 class="blog-title">
                        Tips & Travels</h1>
                    <br>
                    <a href="#" class="blog-para ">Even the all-powerful
                        Pointing has no control about the blind texts</a>
                </div>
                <h1
                    style="color: #cbcbcb; font-size: 1.6rem; font-weight: 300; padding: 2rem 0rem 0rem 4rem; margin-bottom: 1rem;">
                    August 12, 2018 Admin <br><i class="fa-solid fa-comment-dots"></i> 3</h1>
            </div>
            <div style="height: 60rem; width: 30rem;" class="fifth-card">
                <div class="img">
                    <a href="#"><img src="../img/inBlogs/img-4.webp" alt=".."></a>
                </div>
                <div class="content" style="margin-top: 2rem;">
                    <h1 class="blog-title">
                        Tips & Travels</h1>
                    <br>
                    <a href="#" class="blog-para ">Even the all-powerful
                        Pointing has no control about the blind texts</a>
                </div>
                <h1
                    style="color: #cbcbcb; font-size: 1.6rem; font-weight: 300; padding: 2rem 0rem 0rem 4rem; margin-bottom: 1rem;">
                    August 12, 2018 Admin <br><i class="fa-solid fa-comment-dots"></i> 3</h1>
            </div>
        </div>
    </div>

    {{!-- ----------------------------------------------- --}}

    <div style="background: #f7fcff;min-height:65rem;" class="container fifth-container">

        <div data-aos="fade-up" style="justify-content: space-evenly;" class="fifth-bottom">
            <div style="height: 60rem; width: 30rem;" class="fifth-card">
                <div class="img">
                    <a href="#"><img src="../img/inBlogs/img-5.webp" alt=".."></a>
                </div>
                <div class="content" style="margin-top: 2rem;">
                    <h1 class="blog-title">
                        Tips & Travels</h1>
                    <br>
                    <a href="#" class="blog-para ">8 Best homestay in
                        Philippines that you don't miss out</a>
                </div>
                <h1
                    style="color: #cbcbcb; font-size: 1.6rem; font-weight: 300; padding: 2rem 0rem 0rem 4rem; margin-bottom: 1rem;">
                    August 12, 2018 Admin <br><i class="fa-solid fa-comment-dots"></i> 3</h1>
            </div>
            <div style="height: 60rem; width: 30rem;" class="fifth-card">
                <div class="img">
                    <a href="#"><img src="../img/inBlogs/img-6.webp" alt=".."></a>
                </div>
                <div class="content" style="margin-top: 2rem;">
                    <h1 class="blog-title">
                        Cultrual</h1>
                    <br>
                    <a href="#" class="blog-para ">Even the all-powerful
                        Pointing has no control about the blind texts</a>
                </div>
                <h1
                    style="color: #cbcbcb; font-size: 1.6rem; font-weight: 300; padding: 2rem 0rem 0rem 4rem; margin-bottom: 1rem;">
                    August 12, 2018 Admin <br><i class="fa-solid fa-comment-dots"></i> 3</h1>
            </div>
            <div style="height: 60rem; width: 30rem;" class="fifth-card">
                <div class="img">
                    <a href="#"><img src="../img/inBlogs/img-7.webp" alt=".."></a>
                </div>
                <div class="content" style="margin-top: 2rem;">
                    <h1 class="blog-title">
                        Tips & Travels</h1>
                    <br>
                    <a href="#" class="blog-para">Even the all-powerful
                        Pointing has no control about the blind texts</a>
                </div>
                <h1
                    style="color: #cbcbcb; font-size: 1.6rem; font-weight: 300; padding: 2rem 0rem 0rem 4rem; margin-bottom: 1rem;">
                    August 12, 2018 Admin <br><i class="fa-solid fa-comment-dots"></i> 3</h1>
            </div>
            <div style="height: 60rem; width: 30rem;" class="fifth-card">
                <div class="img">
                    <a href="#"><img src="../img/inBlogs/img-8.webp" alt=".."></a>
                </div>
                <div class="content" style="margin-top: 2rem;">
                    <h1 class="blog-title">
                        Tips & Travels</h1>
                    <br>
                    <a href="#" class="blog-para ">Even the all-powerful
                        Pointing has no control about the blind texts</a>
                </div>
                <h1
                    style="color: #cbcbcb; font-size: 1.6rem; font-weight: 300; padding: 2rem 0rem 0rem 4rem; margin-bottom: 1rem;">
                    August 12, 2018 Admin <br><i class="fa-solid fa-comment-dots"></i> 3</h1>
            </div>
        </div>
    </div>

    {{!-- ----------------------------------------------- --}}

    <div class="pages-container">
        <div class="pages">
            <i class="fa-solid fa-angle-left"></i>
        </div>
        <div class="pages">
            <span>1</span>
        </div>
        <div class="pages">
            <span>2</span>
        </div>
        <div class="pages">
            <span>3</span>
        </div>
        <div class="pages">
            <span>4</span>
        </div>
        <div class="pages">
            <span>5</span>
        </div>
        <div class="pages">
            <i class="fa-solid fa-angle-right"></i>
        </div>
    </div>

    {{!-- ----------------------------------------------- --}}

    {{>footer}}



    <script>

        // AOS 
        AOS.init({
            duration: 1000,
            disable: function () {
                var maxWidth = 800;
                return window.innerWidth < maxWidth;
            }
        });
    </script>
</body>

</html>