{{!-- https://preview.colorlib.com/theme/direngine/ --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <link rel="shortcut icon" href="../img/logos/favicon.png" type="image/x-icon">
    <title>DirEngine</title>
</head>

<body>
    {{>header}}

    {{!-- ----------------------------------------------- --}}

    <div class="first-container">
        <div data-aos="fade-up" class="second-container">
            <h1>Explore </h1>
            <h3>your amazing city</h3>
            <p>Find great places to stay, eat, shop, or visit from local experts</p>
            <div class="form">
                <input type="text" placeholder="Ex: Food, service, hotel">
                <input type="text" placeholder="Where">
                <a href="#">Search</a>
            </div>
            <p>Or browse the highlights </p>
            <div class="icons">
                <a href="#" class="btn-danger"><i class="fa-solid fa-utensils"></i> Restaurant</a>
                <a href="#" class="btn-danger"><i class="fa-solid fa-hotel"></i> Hotel</a>
                <a href="#" class="btn-danger"><i class="fa-solid fa-location-dot"></i></i></i> Places</a>
                <a href="#" class="btn-danger"><i class="fa-brands fa-shopify"></i> Shopping</a>
            </div>
        </div>
    </div>

    {{!-- ----------------------------------------------- --}}

    <div class="container third-container">
        <div data-aos="fade-up" class="box-container">
            <div class="content-box">
                <img src="../img/logos/100-percent.svg" alt="">
                <h4>Travellers Love Us</h4>
                <p>A small river named Duden flows by their place and supplies.</p>
            </div>
            <div class="content-box">
                <img src="../img/logos/heart.svg" alt="">
                <h4>Travellers Love Us</h4>
                <p>A small river named Duden flows by their place and supplies.</p>
            </div>
            <div class="content-box">
                <img src="../img/logos/detective.svg" alt="">
                <h4>Travellers Love Us</h4>
                <p>A small river named Duden flows by their place and supplies.</p>
            </div>
            <div class="content-box">
                <img src="../img/logos/support.svg" alt="">
                <h4>Travellers Love Us</h4>
                <p>A small river named Duden flows by their place and supplies.</p>
            </div>
        </div>
    </div>


    {{!-- ----------------------------------------------- --}}

    <div data-aos="fade-up" class="container fourth-container">
        <p>Featured</p>
        <br>
        <h1><span>Featured</span> Destination</h1>
        <br>
        <div data-aos="fade-up" class="slider-container">
            <i id="fourth-slider-prev" class="fa-solid arrow_Icon  fa-angle-left"></i>
            <div class="slider-inner owl-carousel">
                <div class="slider-card">
                    <div class="img">
                        <img src="../img/slider-1/1-slider.webp" alt="...">
                    </div>
                    <div class="content">
                        <h2>Paris, Italy</h2>
                        <p>15 Listing</p>
                    </div>
                </div>
                <div class="slider-card">
                    <div class="img">
                        <img src="../img/slider-1/2-slider.webp" alt="...">
                    </div>
                    <div class="content">
                        <h2>San Fransisco, USA</h2>
                        <p>8 Listing</p>
                    </div>
                </div>
                <div class="slider-card">
                    <div class="img">
                        <img src="../img/slider-1/3-slider.webp" alt="...">
                    </div>
                    <div class="content">
                        <h2>Lion, Singapore</h2>
                        <p>3 Listing</p>
                    </div>
                </div>
                <div class="slider-card">
                    <div class="img">
                        <img src="../img/slider-1/4-slider.webp" alt="...">
                    </div>
                    <div class="content">
                        <h2>London, UK</h2>
                        <p>10 Listing</p>
                    </div>
                </div>
                <div class="slider-card">
                    <div class="img">
                        <img src="../img/slider-1/5-slider.webp" alt="...">
                    </div>
                    <div class="content">
                        <h2>Australia</h2>
                        <p>3 Listing</p>
                    </div>
                </div>
                <div class="slider-card">
                    <div class="img">
                        <img src="../img/slider-1/6-slider.webp" alt="...">
                    </div>
                    <div class="content">
                        <h2>Paris, Italy</h2>
                        <p>6 Listing</p>
                    </div>
                </div>
            </div>

            <i id="fourth-slider-next" class="fa-solid arrow_Icon fa-angle-right"></i>
        </div>

    </div>


    {{!-- ----------------------------------------------- --}}

    <div class="container fifth-container">
        <div data-aos="fade-up" class="fifth-upper">
            <p>Special Offers</p>
            <br>
            <h1><span>Top </span>Tour Packages</h1>
        </div>
        <br>
        <div data-aos="fade-up" class="fifth-bottom">
            <div class="fifth-card">
                <div class="img">
                    <img src="../img/slider-1/6-slider.webp" alt="..">
                </div>
                <div class="content">
                    <h1>Paris, Italy</h1>
                    <h2>$200</h2>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i> 8 Rating
                    </div>
                    <p style="font-size: 1.5rem; line-height:2rem; padding:0.5rem 0;">Far far away, behind the word
                        mountains, far from the countries</p>
                    <p style="font-size: 1.3rem; padding:0.5rem 0;;">2 days 3 nights</p>
                </div>
                <div class="location">
                    <i class="fa-regular fa-map"> San Franciso, CA</i>
                    <button href="#" class="dis-btn">Discover</button>
                </div>
            </div>
            <div class="fifth-card">
                <div class="img">
                    <img src="../img/slider-1/5-slider.webp" alt="..">
                </div>
                <div class="content">
                    <h1>Paris, Italy</h1>
                    <h2>$200</h2>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i> 8 Rating
                    </div>
                    <p style="font-size: 1.5rem; line-height:2rem; padding:0.5rem 0;">Far far away, behind the word
                        mountains, far from the countries</p>
                    <p style="font-size: 1.3rem; padding:0.5rem 0;;">2 days 3 nights</p>
                </div>
                <div class="location">
                    <i class="fa-regular fa-map"> San Franciso, CA</i>
                    <button href="#" class="dis-btn">Discover</button>
                </div>
            </div>
            <div class="fifth-card">
                <div class="img">
                    <img src="../img/slider-1/4-slider.webp" alt="..">
                </div>
                <div class="content">
                    <h1>Paris, Italy</h1>
                    <h2>$200</h2>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i> 8 Rating
                    </div>
                    <p style="font-size: 1.5rem; line-height:2rem; padding:0.5rem 0;">Far far away, behind the word
                        mountains, far from the countries</p>
                    <p style="font-size: 1.3rem; padding:0.5rem 0;;">2 days 3 nights</p>
                </div>
                <div class="location">
                    <i class="fa-regular fa-map"> San Franciso, CA</i>
                    <button href="#" class="dis-btn">Discover</button>
                </div>
            </div>
            <div class="fifth-card">
                <div class="img">
                    <img src="../img/slider-1/3-slider.webp" alt="..">
                </div>
                <div class="content">
                    <h1>Paris, Italy</h1>
                    <h2>$200</h2>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i> 8 Rating
                    </div>
                    <p style="font-size: 1.5rem; line-height:2rem; padding:0.5rem 0;">Far far away, behind the word
                        mountains, far from the countries</p>
                    <p style="font-size: 1.3rem; padding:0.5rem 0;;">2 days 3 nights</p>
                </div>
                <div class="location">
                    <i class="fa-regular fa-map"> San Franciso, CA</i>
                    <button href="#" class="dis-btn">Discover</button>
                </div>
            </div>
            <div class="fifth-card">
                <div class="img">
                    <img src="../img/slider-1/2-slider.webp" alt="..">
                </div>
                <div class="content">
                    <h1>Paris, Italy</h1>
                    <h2>$200</h2>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i> 8 Rating
                    </div>
                    <p style="font-size: 1.5rem; line-height:2rem; padding:0.5rem 0;">Far far away, behind the word
                        mountains, far from the countries</p>
                    <p style="font-size: 1.3rem; padding:0.5rem 0;;">2 days 3 nights</p>
                </div>
                <div class="location">
                    <i class="fa-regular fa-map"> San Franciso, CA</i>
                    <button href="#" class="dis-btn">Discover</button>
                </div>
            </div>
        </div>
    </div>

    {{!-- ----------------------------------------------- --}}

    <div class="container sixth-container">
        <div data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="sixth-inner">
            <h1>Some fun facts</h1>
            <p>More than 100,000 websites hosted
            </p>
            <div class="counter-box">
                <div class="counter-card">
                    <h1 class="counter-up" data-target="100000"></h1>
                    <p>Happy Customers</p>
                </div>
                <div class="counter-card">
                    <h1 class="counter-up" data-target="87000"></h1>
                    <p>Destination Places</p>
                </div>
                <div class="counter-card">
                    <h1 class="counter-up" data-target="40000"></h1>
                    <p>Hotels</p>
                </div>
                <div class="counter-card">
                    <h1 class="counter-up" data-target="56000"></h1>
                    <p>Restaurant</p>
                </div>
            </div>
        </div>
    </div>

    {{!-- ----------------------------------------------- --}}

    <div style="background: #fcfcfc;" class="container fifth-container">
        <div data-aos="fade-up" class="fifth-upper">
            <p>Special Offers</p>
            <br>
            <h1><span>Popular </span>Hotels & Rooms</h1>
        </div>
        <br>
        <div data-aos="fade-up" class="fifth-bottom">
            <div style="height: 50rem;" class="fifth-card">
                <div class="img">
                    <img src="../img/card-1/img-1.webp" alt="..">
                </div>
                <div class="content">
                    <h1>Hotel, Italy</h1>
                    <h2 style="margin: 0 0 0 12rem;">$40/night</h2>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i> 8 Rating
                    </div>
                    <p style="font-size: 1.5rem; line-height:2rem; padding:0.5rem 0;">Far far away, behind the word
                        mountains, far from the countries</p>
                </div>
                <div class="location">
                    <i class="fa-regular fa-map"> Miami, FL</i>
                    <button href="#" class="dis-btn">Book Now</button>
                </div>
            </div>
            <div style="height: 50rem;" class="fifth-card">
                <div class="img">
                    <img src="../img/card-1/img-2.webp" alt="..">
                </div>
                <div class="content">
                    <h1>Hotel, Italy</h1>
                    <h2 style="margin: 0 0 0 12rem;">$40/night</h2>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i> 8 Rating
                    </div>
                    <p style="font-size: 1.5rem; line-height:2rem; padding:0.5rem 0;">Far far away, behind the word
                        mountains, far from the countries</p>

                </div>
                <div class="location">
                    <i class="fa-regular fa-map"> Miami, FL</i>
                    <button href="#" class="dis-btn">Book Now</button>
                </div>
            </div>
            <div style="height: 50rem;" class="fifth-card">
                <div class="img">
                    <img src="../img/card-1/img-3.webp" alt="..">
                </div>
                <div class="content">
                    <h1>Hotel, Italy</h1>
                    <h2 style="margin: 0 0 0 12rem;">$40/night</h2>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i> 8 Rating
                    </div>
                    <p style="font-size: 1.5rem; line-height:2rem; padding:0.5rem 0;">Far far away, behind the word
                        mountains, far from the countries</p>

                </div>
                <div class="location">
                    <i class="fa-regular fa-map"> Miami, FL</i>
                    <button href="#" class="dis-btn">Book Now</button>
                </div>
            </div>
            <div style="height: 50rem;" class="fifth-card">
                <div class="img">
                    <img src="../img/card-1/img-4.webp" alt="..">
                </div>
                <div class="content">
                    <h1>Hotel, Italy</h1>
                    <h2 style="margin: 0 0 0 12rem;">$40/night</h2>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i> 8 Rating
                    </div>
                    <p style="font-size: 1.5rem; line-height:2rem; padding:0.5rem 0;">Far far away, behind the word
                        mountains, far from the countries</p>

                </div>
                <div class="location">
                    <i class="fa-regular fa-map"> Miami, FL</i>
                    <button href="#" class="dis-btn">Book Now</button>
                </div>
            </div>
            <div style="height: 50rem;" class="fifth-card">
                <div class="img">
                    <img src="../img/card-1/img-5.webp" alt="..">
                </div>
                <div class="content">
                    <h1>Hotel, Italy</h1>
                    <h2 style="margin: 0 0 0 12rem;">$40/night</h2>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i> 8 Rating
                    </div>
                    <p style="font-size: 1.5rem; line-height:2rem; padding:0.5rem 0;">Far far away, behind the word
                        mountains, far from the countries</p>

                </div>
                <div class="location">
                    <i class="fa-regular fa-map"> Miami, FL</i>
                    <button href="#" class="dis-btn">Book Now</button>
                </div>
            </div>
        </div>
    </div>


    {{!-- ----------------------------------------------- --}}


    <div style="background: #f7fcff; min-height: 80vh;padding: 10rem 0rem 0rem 9rem;
" class="container">
        <div data-aos="fade-up" class="eight-container">
            <div style="padding: 0 8rem 0 0;" class="eight-first">
                <p>Best Directory Website</p>
                <h1><span>Why</span> Choose Us?</h1>
                <p style="padding:0; margin-top:3rem;">Far far away, behind the word mountains, far from the countries
                    Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at
                    the coast of the Semantics, a large language ocean.</p>
                <p style="padding: 0;">Even the all-powerful Pointing has no control about the blind texts it is an
                    almost unorthographic life.</p>
                <button class="read-more">Read More</button>
            </div>
            <div class="eight-first">
                <p>Testimony</p>
                <h1><span>Our</span> Guests Says</h1>
                <div data-aos="fade-up" style="margin-top: 3rem; justify-content: unset;" class="slider-container">
                    <i id="slider-2-prev" class="fa-solid arrow_Icon  fa-angle-left"></i>
                    <div id="slider-2" class="slider-2-inner">
                        <div class="slider-2-cardBox owl-carousel">
                            <div class="slider-card">
                                <div class="slider-card-inner">

                                    <div class="slider-img">
                                        <img src="../img/slider-2/img-1.webp" alt="...">
                                    </div>
                                    <div class="slider-2-content">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde libero, ipsam
                                            consequuntur animi molestias accusamus?</p>
                                        <div class="title">
                                            <h1 style="font-size: 2.5rem;">Rohit Yadav</h1>
                                            <h2>Guest From India</h2>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="slider-card">
                                <div class="slider-card-inner">

                                    <div class="slider-img">
                                        <img src="../img/slider-2/img-2.webp" alt="...">
                                    </div>
                                    <div class="slider-2-content">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde libero, ipsam
                                            consequuntur animi molestias accusamus?</p>
                                        <div class="title">
                                            <h1 style="font-size: 2.5rem;">Niks Jankar</h1>
                                            <h2>Guest From India</h2>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="slider-card">
                                <div class="slider-card-inner">

                                    <div class="slider-img">
                                        <img src="../img/slider-2/img-3.webp" alt="...">
                                    </div>
                                    <div class="slider-2-content">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde libero, ipsam
                                            consequuntur animi molestias accusamus?</p>
                                        <div class="title">
                                            <h1 style="font-size: 2.5rem;">Omkar Paygude</h1>
                                            <h2>Guest From India</h2>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <i id="slider-2-next" class="fa-solid arrow_Icon  fa-angle-right"></i>
                </div>
            </div>
        </div>
    </div>


    {{!-- ----------------------------------------------- --}}


    <div style="background: #fcfcfc;" class="container fifth-container">
        <div data-aos="fade-up" class="fifth-upper">
            <p>Special Offers</p>
            <br>
            <h1><span>Popular </span>Restaurants</h1>
        </div>
        <br>
        <div data-aos="fade-up" style="justify-content: space-evenly;" class="fifth-bottom">
            <div style="height: 49rem; width: 28rem;" class="fifth-card">
                <div class="img">
                    <img src="../img/rest/img-1.webp" alt="..">
                </div>
                <div class="content">
                    <h1>Luxury Restaurant</h1>

                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i> 8 Rating
                    </div>
                    <p style="font-size: 1.5rem; line-height:2rem; padding:0.5rem 0;">Far far away, behind the word
                        mountains, far from the countries</p>
                </div>
                <div class="location">
                    <i class="fa-regular fa-map"> Miami, FL</i>
                    <button href="#" class="dis-btn">Book Now</button>
                </div>
            </div>
            <div style="height: 49rem; width: 28rem;" class="fifth-card">
                <div class="img">
                    <img src="../img/rest/img-2.webp" alt="..">
                </div>
                <div class="content">
                    <h1>Luxury Restaurant</h1>

                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i> 8 Rating
                    </div>
                    <p style="font-size: 1.5rem; line-height:2rem; padding:0.5rem 0;">Far far away, behind the word
                        mountains, far from the countries</p>

                </div>
                <div class="location">
                    <i class="fa-regular fa-map"> Miami, FL</i>
                    <button href="#" class="dis-btn">Book Now</button>
                </div>
            </div>
            <div style="height: 49rem; width: 28rem;" class="fifth-card">
                <div class="img">
                    <img src="../img/rest/img-3.webp" alt="..">
                </div>
                <div class="content">
                    <h1>Luxury Restaurant</h1>

                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i> 8 Rating
                    </div>
                    <p style="font-size: 1.5rem; line-height:2rem; padding:0.5rem 0;">Far far away, behind the word
                        mountains, far from the countries</p>

                </div>
                <div class="location">
                    <i class="fa-regular fa-map"> Miami, FL</i>
                    <button href="#" class="dis-btn">Book Now</button>
                </div>
            </div>
            <div style="height: 49rem; width: 28rem;" class="fifth-card">
                <div class="img">
                    <img src="../img/rest/img-4.webp" alt="..">
                </div>
                <div class="content">
                    <h1>Luxury Restaurant</h1>

                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i> 8 Rating
                    </div>
                    <p style="font-size: 1.5rem; line-height:2rem; padding:0.5rem 0;">Far far away, behind the word
                        mountains, far from the countries</p>
                </div>
                <div class="location">
                    <i class="fa-regular fa-map"> Miami, FL</i>
                    <button href="#" class="dis-btn">Book Now</button>
                </div>
            </div>

        </div>
    </div>



    {{!-- ----------------------------------------------- --}}


    <div style="background: #f7fcff;" class="container fifth-container">
        <div data-aos="fade-up" class="fifth-upper">
            <p>Recent Blogs</p>
            <br>
            <h1><span>Tips </span>& Articles</h1>
        </div>
        <br>
        <div data-aos="fade-up" style="justify-content: space-evenly;" class="fifth-bottom">
            <div style="height: 60rem; width: 30rem;" class="fifth-card">
                <div class="img">
                    <a href="#"><img src="../img/inBlogs/img-1.webp" alt=".."></a>
                </div>
                <div class="content" style="margin-top: 2rem;">
                    <h1 class="blog-title">
                        Tips & Travels</h1>
                    <a href="#" class="blog-para">Far far away, behind the
                        word mountains, far from the countries Lorem ipsum dolor sit amet.</a>
                </div>
                <h1
                    style="color: #cbcbcb; font-size: 1.6rem; font-weight: 300; padding: 2rem 0rem 0rem 4rem; margin-bottom: 1rem;">
                    August 12, 2018 Admin <br><i class="fa-solid fa-comment-dots"></i> 3</h1>
            </div>
            <div style="height: 60rem; width: 30rem;" class="fifth-card">
                <div class="img">
                    <a href="#"><img src="../img/inBlogs/img-2.webp" alt=".."></a>
                </div>
                <div class="content" style="margin-top: 2rem;">
                    <h1 class="blog-title">
                        Cultrual</h1>
                    <a href="#" class="blog-para">Far far away, behind the
                        word mountains, far from the countries Lorem ipsum dolor sit amet.</a>
                </div>
                <h1
                    style="color: #cbcbcb; font-size: 1.6rem; font-weight: 300; padding: 2rem 0rem 0rem 4rem; margin-bottom: 1rem;">
                    August 12, 2018 Admin <br><i class="fa-solid fa-comment-dots"></i> 3</h1>
            </div>
            <div style="height: 60rem; width: 30rem;" class="fifth-card">
                <div class="img">
                    <a href="#"><img src="../img/inBlogs/img-3.webp" alt=".."></a>
                </div>
                <div class="content" style="margin-top: 2rem;">
                    <h1 class="blog-title">
                        Tips & Travels</h1>
                    <a href="#" class="blog-para">Far far away, behind the
                        word mountains, far from the countries Lorem ipsum dolor sit amet.</a>
                </div>
                <h1
                    style="color: #cbcbcb; font-size: 1.6rem; font-weight: 300; padding: 2rem 0rem 0rem 4rem; margin-bottom: 1rem;">
                    August 12, 2018 Admin <br><i class="fa-solid fa-comment-dots"></i> 3</h1>
            </div>
            <div style="height: 60rem; width: 30rem;" class="fifth-card">
                <div class="img">
                    <a href="#"><img src="../img/inBlogs/img-4.webp" alt=".."></a>
                </div>
                <div class="content" style="margin-top: 2rem;">
                    <h1 class="blog-title">
                        Tips & Travels</h1>
                    <a href="#" class="blog-para">Far far away, behind the
                        word mountains, far from the countries Lorem ipsum dolor sit amet.</a>
                </div>
                <h1
                    style="color: #cbcbcb; font-size: 1.6rem; font-weight: 300; padding: 2rem 0rem 0rem 4rem; margin-bottom: 1rem;">
                    August 12, 2018 Admin <br><i class="fa-solid fa-comment-dots"></i> 3</h1>
            </div>
        </div>
    </div>


    <div class="eleventh-container">
        <div class="eleven-inner">
            <h1>Subcribe to our Newsletter</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia odit nesciunt placeat repellendus non
                est sapiente quidem at, et ab.</p>
            <div class="subscribe">
                <input type="text" placeholder="Enter email address"><a href="#">Subscribe</a>
            </div>
        </div>
    </div>

    {{!-- ----------------------------------------------- --}}

    {{>footer}}

    <script>
        $(".slider-inner").owlCarousel({
            loop: true,
            autoplay: true,
            autoplayTimeout: 2000,
            items: 4,
            autoplayHoverPause: true,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                },
                600: {
                    items: 2
                },
                800: {
                    items: 3
                },
                1100: {
                    items: 4
                }
            }
        });

        var owl = $('.owl-carousel');
        owl.owlCarousel();
        $('#fourth-slider-next').click(function () {
            owl.trigger('next.owl.carousel', [300]);
        })
        $('#fourth-slider-prev').click(function () {
            owl.trigger('prev.owl.carousel', [300]);
        });

        //Slider -2
        $(".slider-2-inner").owlCarousel({
            loop: true,
            autoplay: true,
            autoplayTimeout: 4000,
            items: 1,
            autoplayHoverPause: true,
            navigation: false,
            responsiveClass: true,
        });

        owl.owlCarousel();
        $('#slider-2-next').click(function () {
            owl.trigger('next.owl.carousel', [300]);
        })
        $('#slider-2-prev').click(function () {
            owl.trigger('prev.owl.carousel', [300]);
        });

        //COunter-up JS
        var counted = 0;
        $(window).scroll(function () {

            var oTop = $('.sixth-inner').offset().top - window.innerHeight;
            if (counted == 0 && $(window).scrollTop() > oTop) {
                $('.counter-up').each(function () {
                    var $this = $(this),
                        countTo = $this.attr('data-target');
                    $({
                        countNum: $this.text()
                    }).animate({
                        countNum: countTo
                    },
                        {
                            duration: 3000,
                            easing: 'swing',
                            step: function () {
                                $this.text(Math.floor(this.countNum));
                            },
                            complete: function () {
                                $this.text(this.countNum);
                            }

                        });
                });
                counted = 1;
            }
        });

        // AOS 
        AOS.init({
            duration: 1000,
            disable: function () {
                var maxWidth = 800;
                return window.innerWidth < maxWidth;
            }
        });
    </script>
</body>

</html>