<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="shortcut icon" href="../img/logos/favicon.png" type="image/x-icon">
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <title>DirEngine</title>
</head>

<body>
    {{>header}}

    {{!-- ----------------------------------------------- --}}

    <div style="display:grid; place-item:center; background: linear-gradient(rgb(0 0 0 / 3%), rgb(0 0 0 / 3%)), url(../img/bg-3.webp) no-repeat center center/cover;"
        class="first-container">
        <div data-aos="fade-up" style="text-align: center;" class="second-container">
            <span>
                <a style="color:white;" href="/">Home</a>
                <a style="color:rgb(187 187 187);" href="/tour">Tour</a>
            </span>
            <h1 style="text-align: center; margin: 0;">Tour</h1>
        </div>
    </div>

    {{!-- ----------------------------------------------- --}}

    <div style="background: #fff; min-height: 115rem;" class="container fifth-container">
        <div style="margin-top: 5rem;" data-aos="fade-up" class="fifth-bottom">
            <div class="fifth-card range-container tour-container">
                <h1>FIND City</h1>
                <div class="city-form">
                    <input type="text" placeholder="Destination, City">
                    <select>
                        <option>Select Location</option>
                        <option>San Fransisco, USA</option>
                        <option>Berlin, Germany</option>
                        <option>London, United Kingdom</option>
                        <option>Paris, Italy</option>
                    </select>
                    <input type="text" placeholder="Date From">
                    <input type="text" placeholder="Date To">
                    <div class="range-slider">
                        <p><span id="range-min"></span> - <span>120000</span></p>
                        <input type="range" min="0" step="2500" max="120000" value="25000" id="myRange">
                    </div>
                    <button><a href="#">Search</a></button>
                </div>
            </div>
            <div class="fifth-card tour-container">
                <div class="img">
                    <img src="../img/slider-1/6-slider.webp" alt="..">
                </div>
                <div class="content">
                    <h1>Paris, Italy</h1>
                    <h2>$200</h2>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i> 8 Rating
                    </div>
                    <p style="font-size: 1.5rem; line-height:2rem; padding:0.5rem 0;">Far far away, behind the word
                        mountains, far from the countries</p>
                    <p style="font-size: 1.3rem; padding:0.5rem 0;;">2 days 3 nights</p>
                </div>
                <div class="location">
                    <i class="fa-regular fa-map"> San Franciso, CA</i>
                    <button href="#" class="dis-btn">Discover</button>
                </div>
            </div>
            <div class="fifth-card tour-container">
                <div class="img">
                    <img src="../img/slider-1/5-slider.webp" alt="..">
                </div>
                <div class="content">
                    <h1>Paris, Italy</h1>
                    <h2>$200</h2>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i> 8 Rating
                    </div>
                    <p style="font-size: 1.5rem; line-height:2rem; padding:0.5rem 0;">Far far away, behind the word
                        mountains, far from the countries</p>
                    <p style="font-size: 1.3rem; padding:0.5rem 0;;">2 days 3 nights</p>
                </div>
                <div class="location">
                    <i class="fa-regular fa-map"> San Franciso, CA</i>
                    <button href="#" class="dis-btn">Discover</button>
                </div>
            </div>
            <div class="fifth-card tour-container">
                <div class="img">
                    <img src="../img/slider-1/4-slider.webp" alt="..">
                </div>
                <div class="content">
                    <h1>Paris, Italy</h1>
                    <h2>$200</h2>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i> 8 Rating
                    </div>
                    <p style="font-size: 1.5rem; line-height:2rem; padding:0.5rem 0;">Far far away, behind the word
                        mountains, far from the countries</p>
                    <p style="font-size: 1.3rem; padding:0.5rem 0;;">2 days 3 nights</p>
                </div>
                <div class="location">
                    <i class="fa-regular fa-map"> San Franciso, CA</i>
                    <button href="#" class="dis-btn">Discover</button>
                </div>
            </div>

        </div>

        {{!-- ----------------------------------------------- --}}

        <div style="margin-top: 5rem;align-items: flex-start;" data-aos="fade-up" class="fifth-bottom">
            <div style="height: 35rem;" class="fifth-card range-container tour-container">
                <h1>Star Rating</h1>
                <div class="city-form">
                    <div class="check-box-star">
                        <input type="checkbox" id="5star">
                        <label for="5star" class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </label>
                    </div>
                    <div class="check-box-star">
                        <input type="checkbox" id="4star">
                        <label for="4star" class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </label>
                    </div>
                    <div class="check-box-star">
                        <input type="checkbox" id="3star">
                        <label for="3star" class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </label>
                    </div>
                    <div class="check-box-star">
                        <input type="checkbox" id="2star">
                        <label for="2star" class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </label>
                    </div>
                    <div class="check-box-star">
                        <input type="checkbox" id="1star">
                        <label for="1star" class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </label>
                    </div>
                </div>
            </div>
            <div class="fifth-card tour-container">
                <div class="img">
                    <img src="../img/slider-1/1-slider.webp" alt="..">
                </div>
                <div class="content">
                    <h1>Paris, Italy</h1>
                    <h2>$200</h2>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i> 8 Rating
                    </div>
                    <p style="font-size: 1.5rem; line-height:2rem; padding:0.5rem 0;">Far far away, behind the word
                        mountains, far from the countries</p>
                    <p style="font-size: 1.3rem; padding:0.5rem 0;;">2 days 3 nights</p>
                </div>
                <div class="location">
                    <i class="fa-regular fa-map"> San Franciso, CA</i>
                    <button href="#" class="dis-btn">Discover</button>
                </div>
            </div>
            <div class="fifth-card tour-container">
                <div class="img">
                    <img src="../img/slider-1/2-slider.webp" alt="..">
                </div>
                <div class="content">
                    <h1>Paris, Italy</h1>
                    <h2>$200</h2>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i> 8 Rating
                    </div>
                    <p style="font-size: 1.5rem; line-height:2rem; padding:0.5rem 0;">Far far away, behind the word
                        mountains, far from the countries</p>
                    <p style="font-size: 1.3rem; padding:0.5rem 0;;">2 days 3 nights</p>
                </div>
                <div class="location">
                    <i class="fa-regular fa-map"> San Franciso, CA</i>
                    <button href="#" class="dis-btn">Discover</button>
                </div>
            </div>
            <div class="fifth-card tour-container">
                <div class="img">
                    <img src="../img/slider-1/3-slider.webp" alt="..">
                </div>
                <div class="content">
                    <h1>Paris, Italy</h1>
                    <h2>$200</h2>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i> 8 Rating
                    </div>
                    <p style="font-size: 1.5rem; line-height:2rem; padding:0.5rem 0;">Far far away, behind the word
                        mountains, far from the countries</p>
                    <p style="font-size: 1.3rem; padding:0.5rem 0;;">2 days 3 nights</p>
                </div>
                <div class="location">
                    <i class="fa-regular fa-map"> San Franciso, CA</i>
                    <button href="#" class="dis-btn">Discover</button>
                </div>
            </div>

        </div>
    </div>

    {{!-- ----------------------------------------------- --}}

    <div class="pages-container">
        <div class="pages">
            <i class="fa-solid fa-angle-left"></i>
        </div>
        <div class="pages">
            <span>1</span>
        </div>
        <div class="pages">
            <span>2</span>
        </div>
        <div class="pages">
            <span>3</span>
        </div>
        <div class="pages">
            <span>4</span>
        </div>
        <div class="pages">
            <span>5</span>
        </div>
        <div class="pages">
            <i class="fa-solid fa-angle-right"></i>
        </div>
    </div>

    {{!-- ----------------------------------------------- --}}

    {{>footer}}



    <script>
        const slider_output = document.getElementById('range-min');
        const slider_range = document.getElementById('myRange');
        slider_output.innerHTML = slider_range.value;
        slider_range.oninput = function () {
            slider_output.innerHTML = this.value;
        }
        // AOS 
        AOS.init({
            duration: 1000,
            disable: function () {
                var maxWidth = 800;
                return window.innerWidth < maxWidth;
            }
        });
    </script>
</body>

</html>